@charset 'utf-8';

@import 'reset';
@import 'sub_layout';
@import "community"; 
@import "join"; 
@import "gallery"; 
@import "youtube"; 
@import "department"; 
@import "location"; 





#header{
    width: 100%;

    .inner{
        width: 1180px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        

        >h1{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            >a{
                font:  24px/1  'Open Sans', sans-serif;
                color: #1F2120;
            }
        }

        .menuWeb{
            
            #gnb{
                position: absolute;
                top: 50%;
                right: 26%;
                transform: translateY(-50%);
                z-index: 3;
            

                >li{
                    display: inline-block;
                    margin-left: 35px;
                    
                    >a{
                        font: bold 14px/45px 'Overpass', sans-serif;
                        color: #1F2120;
                        padding: 45px 0;
                        
                        
                    }
                    .sub{
                        width: 1180px;
                        height: 300px;
                        position: absolute;
                        top: 70px;
                        left: -55%;
                        background: #fff;
                        display: none;
                        border: 1px solid #bbb;
                        &::before{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: -100%;
                            background: #fff;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: -100%;
                            background: #fff;
                        }
       
                    }
                    &.m_depart{
                        .wrap{
                            display: flex;
                            justify-content: space-between;
                            .sub_con1{
                                padding: 30px ;
                                img{
                                    width: 150px;
                                    height: 150px;
                                    margin-bottom: 10px;
                                    object-fit: cover;
                                }
                                h2{
                                    font: 16px/1 'Heebo';
                                }
                            }
                            .sub_con2{
                                padding: 30px;

                                img{
                                    width: 450px;
                                    height: 220px;
                                    object-fit: cover;

                                }
                            }
                            .sub_con3{
                                padding: 30px;
                                h3{
                                    font: 18px/1 'Heebo';
                                    margin-bottom: 15px;
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 10px;
                                        height: 1px;
                                        background: #434343;
                                        margin-top: 5px;
                                    }
                                }

                                ul{
                                    li{
                                        display: block;
                                        a{
                                            font: bold 15px/1 'Heebo';
                                            color: #212121;
                                            padding: 8px 0;
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                    }
                    &.m_youtube{
                        .wrap{
                            display: flex;
                            justify-content: space-between;

                            .sub_con1{
                                padding: 30px;
                                text-align: right;
                                h2{
                                    font: 18px/1 'Heebo';
                                    margin-bottom: 15px;
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 10px;
                                        height: 1px;
                                        background: #434343;
                                        margin-top: 5px;
                                    }
                                }
                                ul{
                                    li{

                                        a{
                                            font: bold 15px/1 'Heebo';
                                            color: #212121;
                                            padding: 8px 0;
                                            display: block;
                                        }
                                    }
                                }
                            }

                            .sub_con2{
                                padding: 30px;
                                img{
                                    width: 600px;
                                    height: 220px;
                                    object-fit: cover;
                                }
    
                            }
                        }
                        
                        
                    }
                    &.m_community{
                        .wrap{
                            display: flex;
                            justify-content: space-evenly;
                            
                            article{
                                width: 380px;
                                margin-right: 20px;
                                padding: 20px;
                                &:last-child{
                                    margin-right: 0px;
                                }
                                p{
                                    font: 14px/1 'Open Sans';
                                    margin-bottom: 10px;
                                    &::after{
                                        content: '';
                                        display: block;
                                        width: 20px;
                                        height: 1px;
                                        background: #434343;
                                        margin-top: 10px;
                                    }
                                }
                                h2{
                                    a{
                                        font: bold 18px/1 'Open Sans';
                                        color: #111;
                                        display: block;
                                        margin-bottom: 10px;
                                    }
                                }
                                span{
                                    font: 13px/1.2 'Open Sans';
                                    color: #434343;
                                    
                                }
                                img{
                                    margin-top: 10px;
                                    width: 100%;
                                    height: 150px;
                                    object-fit: cover;
                                }

                                

                            }
                        }
                    }
                    &.m_gallery{
                        .sub{
                            .wrap{
                                display: flex;
                                justify-content: space-between;

                                .sub_con1{
                                    padding: 30px;
                                    width: 300px;
                                    display: flex;
                                    justify-content: center;
                                    position: relative;
                                    
                                    h2{
                                        font: 35px/1 'Lora';
                                        margin-right: 60px;
                                        transform: rotate(-90deg);
                                        transform-origin: right top;
                                    }
                                    img{
                                        width: 100%;
                                        height: 250px;
                                    }
                                }
                                .sub_con2{
                                    width: 600px;
                                    padding: 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    img{
                                        width: 100%;
                                        height: 250px;
                                        object-fit: cover;
                                        margin-right: 25px;
                                    }
                                    ul{
                                        li{
                                            a{
                                                font: bold 16px/1 'Open Sans';
                                                color: #111;
                                                display: block;
                                                margin-bottom: 15px;
                                                text-align: right;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.m_location{
                        .sub{
                            .wrap{
                                display: flex;
                                justify-content: space-between;
                                .sub_con1{
                                    padding: 30px;
                                    width: 400px;
                                    article{
                                        padding: 20px;
                                        border-right: 1px solid #bbb;

                                        h2{
                                            font: bold 18px/1 'Open Sans';
                                            margin-bottom: 5px;
                                        }
                                        p{
                                            font: 13px/1 'Open Sans';
                                            color: #a3a2a2;
                                            margin-bottom: 15px;
                                            border-bottom: 1px solid #bbb;
                                            padding-bottom: 10px;
                                        }
                                        span{
                                            font: 14px/1.3 'Open Sans';
                                            margin-bottom: 15px;
                                            display: block;
                                            border-bottom: 1px solid #bbb;
                                            padding-bottom: 10px;
                                        }
                                        ul{
                                            li{
                                                a{
                                                    font: bold 15px/1 'Open Sans';
                                                    display: block;
                                                    margin-bottom: 10px;
                                                    color: #111;
                                                }
                                            }
                                        }
                                    }
                                    
                                }

                                .sub_con2{
                                    padding: 30px;
                                    img{
                                        width: 500px;
                                        height: 250px;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }

                }
            }
            .form-text{
                position: absolute;
                top: 50%;
                right: 12%;
                transform: translateY(-50%);
                background-color: #fff;
                
                p{
                    border-bottom: 1px solid #111;
                    width: 130px;
                    display: inline-block;

                    >#searchText {
                    width: 80%;
                    height: 100%;
                    padding: 5px 20px;
                    border: none;
                    font: 15px/1 'arial';
                    columns: #222;
                    vertical-align: middle;
                    background: transparent;
                    margin-right: 5px;
                    
                    }
                
                    >.searchBtn {
                    width: 5%;
                    height: 20px;
                    font: bold 15px/20px 'arial';
                    border: none;
                    background-color: #fff;
                    cursor: pointer;
                    }

                }
            }

            .util{
                position: absolute;
                top: 50%;
                right: -3%;
                transform: translateY(-50%);
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                li{
                    float: left;
                    margin-right: 35px;
                    &:hover{

                        &:nth-of-type(1) a{
                            color: red;
                        }
                        &:nth-of-type(2) a{
                            font-size: 17px

                        }
                        &:nth-of-type(3) a{
                            color: lightskyblue;
                        }
                    }

                    a{
                        color: #1F2120;
                        font-size: 16px;
                        
                    }

                    
                }
            }

        }

        .btnCall{
            position:absolute; 
            top:50%; 
            right:30px; 
            transform:translateY(-50%);
            width:20px; 
            height:20px; 
            display:none;  
            z-index: 11;

            &::before{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                top:0; 
                left:0; 
                transform:rotate(0deg); 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                position:absolute; 
                bottom:0; 
                left:0; 
                transform:rotate(0deg); 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s; 
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#000; 
                text-indent:-9999px; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                left:0; 
                transition:0.5s; 
            }

            &.on{
                &::before{ 
                    transform:rotate(45deg);
                    top:50%; 
                    margin-top:-1px; 
                }
                &::after{ 
                    transform:rotate(-45deg); 
                    bottom:50%; 
                    margin-bottom:-1px; 
                }
                span{ 
                    transform:translateX(100%); opacity:0;  
                }
            }
        }

        .menuMo{
            position:fixed; 
            top:0; 
            right:-100%; 
            width:100%; 
            height:100vh; 
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            box-sizing:border-box; 
            z-index:10; 

            h1{
                padding-bottom:50px; 
                padding-left: 20px;
                a{
                    display:block; 
                    font:bold 24px/1 'Open Sans'; 
                    color:#fff; 
                }
                span{
                    font-size:12px; color:#aaa; 
                }
            }

            #gnbMo{
                margin-top: 50px;
                li{
                    a{
                        display:block; 
                        width:100%; 
                        padding:15px 0;  
                        font: bold 50px/1 'Open Sans'; 
                        color:#888; 
                        text-align:center; 
                    }
                }
            }


            &.on{
                right:0; 
            }
        }
    }
}

/* visual */

#visual {
    width: 100%;
    height: calc( 100vh - 151px);
    position: relative;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    
        .wrap{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .left{
                width: 29%;
                height: 65vh;
                padding-top: 40px;
                border-bottom: 1px solid #bbb;
                margin-right: 2%;
                .txt{
                    h1{
                        font: 50px/1 'Overpass';
                        color: #111;
                        margin-bottom: 30px;
    
                        span {
                            
                            color: #222;
                            transform: scale(0.9);
                            transition: 0.3s;
                            opacity: 0;
                        }
    
                        &.on {
                            span {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }

                }
                
                a{
                    color: #333;
                    display: inline-block;
                    font-size: 22px;
                    margin: 0px 10px 100px 10px;
                    transition: 0.5s ease-in-out;

                    &:hover{
                    transform: scale(1.2);
                    }
                    
                }
                >p{
                    display: inline-block;
                    font: 16px/1 'arial';
                    color: #333;
                    
                }

                >.pic{
                    width: 100%;
                    height: 200px;
                    img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }

                }
                
            }
            .right{
            width: 69%;
            height: 65vh;
            padding-top: 40px;
            border-bottom: 1px solid #bbb;
            position: relative;

            h2{
                font: bold 18px/1 'arial';
                color: #333;
                margin-bottom: 10px;
            }

            .txtbox{
                width: 75%;
                margin-bottom: 100px;
                display: flex;
                article{
                margin-right: 20px;
                p{
                    font: 15px/1.4 'arial';
                    color: #999;
                    
                }

                }
            }
            .num{
                text-align: right;
                font: 50px/1 'arial';
            }

            .pic{
                width: 100%;
                height: 200px;
                margin-top: 20px;
                position: relative;
                img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

                .prev{
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translateX(-50%);
                }
                .next{
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateX(-50%);
                }

            }
            }

        }

        .bottom{
            width: 100%;
            height: 10vh;
            display: flex;
            padding: 30px 20px;

            .first{
                width: 80%;
                article{
                    width: 100px;
                    height: 50px;
                    display: inline-block;

                    >p{
                    font: bold 15px/1 'arial';
                    margin-bottom: 5px;
                    }
                    >span{
                    font: 16px/1 'arial';
                    color: #999;
                    }
                }
            }

            .second{
            width: 20%;
            transition: 0.5s;
                p{
                    display: inline-block;
                    margin-right: 20px;
                    font: 15px/1 'arial';
                    color: #999;
                }
            .line{
                display: inline-block;
                width: 80px;
                height: 2px;
                background-color: #bbb;
                vertical-align: middle;
                margin-right: 20px;
                
            }
            a{
                color: #bbb;
                display: inline-block;
            }

            &:hover{
                
                transform: translate(10px,0);
                
            }

            }
        }

    }
}
#popup{
    width: 350px; background: rgba(253, 252, 252, 0.822);
    padding: 30px;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    

    .content{
        width: 100%; height: 150px;
        padding: 20px 0;
        margin-bottom: 25px;
        img{
            width: 50px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        h1{
            font: 16px/1.3 'Heebo';
            text-align: center;
            
        }
        
    }
    .wrap{
        float: left;
        label{
            font: bold 13px/1 'Open Sans';
            color: #111; margin-left: 4px;
        }
    }
    .close{
        float: right;
        font: 14px/1 'Open Sans';
        color: #434343;
        transition: 0.5s;

        &:hover{
            border-bottom: 1px solid #111;
        }
        
    }
}

#navi{
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    li{
        margin: 20px 0;
        a{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #888;
            transition: 0.5s;

            &.on{
                background: #111;
                height: 30px;
            }
        }
    }
}

#box{
    width: 100%;
    padding: 150px 0;
    background: #f9f4f1;
    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{

            .left{
                float: left;
                width: 49%;
                margin-right: 2%;
                padding: 150px 60px;

                h1{
                    font: bold 15px/1 'Hebo';
                    margin-bottom: 100px;
                    color: #f0a417;
                }
                p{
                    font: 600 16px/1.7 'Hebo';
                    color: #212121;
                    
                }
            }

            .right{
                float: left;
                width: 49%;

                h2{
                    font: bold 24px/1.4 'Josefin Sans';
                    letter-spacing: -1px;
                    margin-bottom: 50px;
                }
                img{
                    width: 700px;
                    height: 600px;
                }
            }


        }
    }
}

/* introduce */

#introduce{
    width: 100%;
    padding: 90px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
            display: flex;

            article{
                width: 380px;
                margin-right: 20px;
                display: flex;

                &:last-child{
                    margin-right: 0px;
                }
                .icon{
                    font-size: 40px;
                    color: #c4c4c4;
                    margin-right: 15px;
                }

                .txt{
                    h2{
                    font: bold 13px/1 'Open Sans', sans-serif;
                    color: #212121;
                    margin-bottom: 20px;
                    letter-spacing: 2px;

                    &::after{
                        content: '';
                        width: 35px;
                        height: 3px;
                        display: block;
                        background: orange;
                        margin-top: 20px;
                    }
                    }

                    p{
                    font: 14px/1.7 'Open Sans', sans-serif;
                    color: #828282;
                    margin-right: 30px;
                    
                    }
                }
            }
        }
    }
}

#about{
    width: 100%;
    padding: 150px 0;
    background: #d9d9d3;

    .inner{
        width: 1180px;
        margin: 0 auto;
        display: flex;

        .left{
            // width: 65%;
            width: auto;
            display: flex;
            margin-right: 3%;
            h1{
                font: 26px/1.3 'Lora';
                width: 38%;
            }
            span{
                font: 24px/1 'Lora';
                color: orange;
                border-bottom: 1px solid orange;
                margin-right: 5px;
            }
            .wrap{
                display: flex;

                article{
                    width: 220px;
                    height: 350px;
                    margin-right: 10px;
                    .pic{
                        width: 200px;
                        height: 280px;
                        margin-bottom: 15px;
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        
                    }
                    p {
                        font: bold 14px/1.3 'Hebo';
                        padding-right: 6px;
                        margin-bottom: 5px;
                    }
                    
                }
            }
        }
        .right{
            width: 35%;
            h2{
                font: 22px/1.3 'Lora';
                margin-bottom: 50px;
            }
            span{
                font: 20px/1 'Lora';
                float: left;
            }
            ul{
                float: right;
                width: 55%;
                li{
                    margin-bottom: 10px;

                    &::after{
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #111;
                        display: block;
                        margin-top: 8px;
                    }
                    a{
                        font: 18px/1 'Lora';
                        color: #111;
                        

                        
                    }
                }
            }
        }

    }
}


/* read */

#read {
    width: 100%;
    padding: 130px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;

        h1{
            font: bold 24px/1 'Overpass', sans-serif;
            color: #050505;
            margin-bottom: 80px;
            &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #444;
            margin-top: 10px;
            }
        }

        a{
            display: block;
            width: 140px;
            height: 40px;
            font: 15px/40px 'Overpass', sans-serif;
            color: #fff;
            background-color: black;
            border: 2px solid black;
            text-align: center;
            margin: 0 auto;
            transition: 0.5s;

            &:hover{
            color: black;
            background-color: #fff;
            border: 3px solid black;
            }
        }
        

        .wrap {
            width: 100%;
            margin-bottom: 20px;
            article {
                float: left;
                position: relative;
                object-fit: cover;
                margin-bottom: 60px;
                width: 380px;
                margin-right: 20px;
                
        
                &:nth-of-type(3) {
                    margin-right: 0;
                }

                .pic{
                    width: 100%;
                    height: 450px;
                    margin-bottom: 30px;
                    overflow: hidden;
                    
                    img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin-bottom: 50px;
                    transition: 0.5s;
                    

                    &:hover{
                        transform: scale(1.05);

                    }
                    }
                }
                h2{
                    font: 600 15px/1 'Open Sans';
                    color: #000000;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }

                h3{
                    font: 14px/1 'Open Sans', sans-serif;
                    color: #828282;
                    margin-bottom: 30px;
                }

                >p{
                    font: 16px/1.2 'Overpass', sans-serif;
                    color: #626262;
                    margin-right: 20px;
                    
                    &::after{
                    content: '';
                    width: 35px;
                    height: 2px;
                    background-color: #111;
                    display: block;
                    margin-top: 30px;
                    }
                }

            }
            
            
        }
    }
}


#content{
    width: 100%;
    padding: 200px 0;
    background: #e6e5e1;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 0 30px;

        .wrap{
            display: flex;
            .left{
                width: 34%;
                position: relative;
                padding: 30px 100px;
                
    
                h1{
                    font: bold 24px/1 'Lora';
                    margin-bottom: 20px;
                }
    
                .pic1{
                    width: 450px;
                    height: 240px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .pic2{
                    width: 220px;
                    height: 140px;
                    position: absolute;
                    bottom: 30px;
                    left: -30px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                    a{
                        font: 15px/1 'Lora';
                        color: #333;
                        position: absolute;
                        bottom: -60px;
                        left: 0;
    
                        i{
                            margin-left: 20px;
                        }
                    }
    
                }
            }

            .middle{
                width: 43%;
                position: relative;
                .txt{
                    position: absolute;
                    bottom: -100px;

                    h2{
                        font: bold 20px/1 'Lora';
                        margin-bottom: 20px;
                    }

                    p{
                        font: 15px/1.4 'Heebo';
                        width: 75%;
                    }
                    
                }

            }
    
            .right{
                width: 23%;
    
                .pic{
                    width: 300px;
                    height: 440px;
                    overflow: hidden;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        
                    }
                    
                }

            }

        }

        

    }
}
/* commnet */
#comment {
    width: 100%;
    padding: 130px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;

        
        .wrap{
            display: flex;

            .left{
                width: 49%;
                position: relative;
                margin-right:2%;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                
                h1 {
                    
                    font: bold 23px/1 'Overpass', sans-serif;
                    color: #333;
                    margin-bottom: 30px;
                }

                article{
                    width: 100%;
                    height: 100px;
                    margin-bottom: 20px;
                    transition: 0.5s;

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    
                    >.pic{
                        width: 150px;
                        height: 100px;
                        float: left;
                        margin-right: 15px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    >.txt{
                        width: 60%;
                        float: left;
                        padding: 15px 0;

                        h2{
                            font: bold 18px/1 'Overpass', sans-serif;
                            color: #555;
                            margin-bottom: 10px;
                        }
        
                        p{
                            font: 16px/1.4 'Overpass', sans-serif;
                            color: #555;
                            margin-bottom: 20px;
                        }
                    }
                }

            }
            .right{
            width: 49%;

            h1{
                font: bold 23px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 20px;
            }

            .wrap{
                // .pic{
                //     width: 250px;
                //     height: 300px;
                //     background: lightcoral;
                // }
                .txt{
                    position: relative;
                    article{
                        float: left;
                        width: 49%;
                        margin-right: 2%;
                        padding: 20px 10px;

                        &:nth-of-type(even){
                            margin-right: 0;
                        }

                        h2{
                            font: bold 16px/1.3 'Overpass', sans-serif;
                            color: #555;
                            margin-right: 60px;
                            border-right: 3px solid #111;
                            
                           
                        }
        
                        p{
                            font: 15px/1.4 'Overpass', sans-serif;
                            color: #555;
                            margin: 15px 45px 20px 0;
                        }

                        a{
                            font: 13px/1 'Overpass', sans-serif;
                            color: #333;
                            i{
                                margin-left: 10px;
                            }

                        }
                        
                    }
                }
            }

            }
        }
    }
}

#footer{
    width: 100%;
    padding: 60px 0px 30px 0px;
    border-top: 1px solid #e1e1e1;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h1{
            font: 20px/1 'Overpass', sans-serif;
            color: #222222;
            margin-bottom: 20px;

        }

        .wrap{
            width: 100%;

            .top{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #e1e1e1;
                margin-bottom: 20px;
                padding: 40px 15px;

                h2{
                    font: bold 14px/1 'Overpass', sans-serif;
                    color: #999999;
                    margin-bottom: 20px;
                }

                p{
                    font: 12px/1.5 'Overpass', sans-serif;
                    color: #999999;
                    letter-spacing: 1px;
                }

                .first{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;

                    address{
                        font: 12px/1.5 'Noto Sans KR';
                        color: #999999;
                        margin-right: 10px;
    
                    }
                }

                .middle{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;
                }

                .last{

                    width: 33.333%;

                    ul{
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        li{
                            display: inline-block;
                            font: 12px/1 'Overpass';
                            color: #999999;
                            margin-right: 30px;
                            
                            

                            a{
                                display: block;
                                font-size: 20px;
                                color: #999999;
                                padding: 10px 0;
                                
                                
                            }
                        }
                    }
                }
            }
            

            .bottom{
                text-align: center;
                font: 13px/1 'Overpass';
                color: #646464;

            }
        }
        
    }
}


/*tablet*/

@media screen and (max-width:1179px) {
    #header{
        width: 100%;
    
        .inner{
            width: 100%;
    
            >h1{
                position: absolute;
                left: 3%;
                top: 50%;
                transform: translateY(-50%);
                >a{
                    font:  bold 24px/1  'Open Sans', sans-serif;
                    color: #1F2120;
                }
            }
    
            .menuWeb{
                display: none;
            }

            .btnCall{
                display:block;  
                &.on{
                    &::before, &::after{ 
                        background: #fff;
                    }
                }
            }  

        }
    }    
    /* visual */

    #visual{    
        height:calc(100vh - 101px); 
        padding:0px 30px; 
        box-sizing:border-box; 

        .inner{
            width:100%; 
            
            .wrap{
                width: 100%;
                display: flex;
                
                .left{
                    width: 25%;
                    margin-right: 5%;
                    padding-bottom: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    h1{
                        font: 4vh/1 'Overpass', sans-serif;
                        color: #111;
                        margin-bottom: 30px;
                    }
                    a{
                        display: none;
        
                    }
                    >p{
                        display: none;
                    }
        
                    
                }
                .right{
                    width: 65%;
                    height: 65vh;
                    padding-bottom: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    margin-right: 0px;
        
                    .txtbox{
                        width: 100%;
                        display: flex;
                    }
                    .num{
                        display: none;
                    }
                }
                }
        
                .bottom{
                    .first{
                        display: none;
                    }
            
                    .second{
                        width: 100%;
                        text-align: right;
                    }
                }
        }
    }

    #box{
        padding: 60px 40px;

        .inner{
            width: 100%;
    
            .wrap{
                width: 100%;
    
                .left{
                    width: 100%;
                    margin-right: 0%;
                    padding: 50px 60px;
    
                    h1{
                        margin-bottom: 50px;
                    }
                }
    
                .right{
                    width: 100%;
                    text-align: center;
    
                    h2{
                        margin-bottom: 30px;
                    }
                    img{
                        width: 100%;
                        height: 500px;
                    }
                }
    
    
            }
        }
    }

    /* introduce */

    #introduce{
        padding: 50px 20px;

        .inner{
            width: 100%;
            
            .wrap{
                flex-wrap: wrap;
                text-align: center;

                article{
                    width: 49%;
                    margin-right: 1%;
                    display: inline-block;
                    margin-bottom: 50px;

                .icon{
                    font-size: 40px;
                    margin-right: 0px;
                    margin-bottom: 15px;
                }

                .txt{
                    h2{
                        font: bold 14px/1 'Open Sans';
                        margin-bottom: 25px;

                        &::after{
                            content: '';
                            width: 40px;
                            margin: 7px auto;
                            
                        }
                    }

                    p{
                        margin-right: 10px;
                    }
                }
                }
            }
        }
    }
    #about{
        width: 100%;
        padding: 150px 30px;
        background: #d9d9d3;
    
        .inner{
            width: 100%;

    
            .left{
                display: block;
                width: 35%;
                margin-right: 10%;
                margin-left: 5%;


                .wrap{
    
                    article{
                        margin-top: 10px;
                        &:nth-of-type(2){
                            display: none;
                        }
                        
                    }
                }
            }
            .right{
                width: 45%;
                h2{
                    font: 22px/1.3 'Lora';
                    margin-bottom: 50px;
                }
                span{
                    font: 20px/1 'Lora';
                    float: left;
                }
                ul{

                    width: 100%;
                    margin-top: 30px;
                    li{
                        margin-bottom: 10px;
    
                        &::after{
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: #111;
                            display: block;
                            margin-top: 8px;
                        }
                        a{
                            font: 18px/1 'Lora';
                            color: #111;
                            
    
                            
                        }
                    }
                }
            }
    
        }
    }
    /* read */
    #read {
        padding: 150px 40px;
    
        .inner {
            width: 100%;

            a{
                display: block;
                width: 140px;
                height: 40px;
                font: 15px/40px 'Overpass', sans-serif;
                color: #fff;
                background-color: black;
                border: 2px solid black;
                text-align: center;
                margin: 0 auto;
                transition: 0.5s;

                &:hover{
                color: black;
                background-color: #fff;
                border: 3px solid black;
                }
            }
        

            .wrap {
                width: 100%;
                margin-bottom: 20px;
                article {
                float: left;
                position: relative;
                object-fit: cover;
                margin-bottom: 30px;
                width: 32%;
                margin-right: 2%;
                
        
                &:nth-of-type(3) {
                    margin-right: 0;
                }

                .pic{
                    width: 100%;
                    height: 250px;
                    margin-bottom: 30px;
                    overflow: hidden;
                    
                    img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin-bottom: 50px;
                    transition: 0.5s;
                    
                    }
                }
                h2{
                    font: 600 15px/1 'Open Sans';
                    color: #000000;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }

                h3{
                    font: 14px/1 'Open Sans', sans-serif;
                    color: #828282;
                    margin-bottom: 30px;
                }

                >p{
                    font: 13px/1.3 'Overpass', sans-serif;
                    color: #626262;
                    margin-right: 20px;
                    
                    &::after{
                    content: '';
                    width: 35px;
                    height: 2px;
                    background-color: #111;
                    display: block;
                    margin-top: 30px;
                    }
                }

                }
                
                
            }
        }
    }
    #content{
        padding: 150px 30px;

        .inner{
            width: 100%;
            margin: 0 auto;
            padding: 0px;
    
            .wrap{
                display: block;
                .left{
                    width: 100%;
                    position: relative;
                    padding: 30px 100px;
                    text-align: center;
                
                    .pic1{
                        width: 350px;
                        height: 240px;
                        background: #555;
                        margin: 0 auto;
                        margin-top: 40px;
                    }
        
                    .pic2{
                        display: none;
        
                    }
                }
    
                .middle{
                    width: 100%;
                    position: relative;
                    .txt{
                        position: absolute;
                        bottom: -100px;
    
                        p{
                            font: 15px/1.4 'Heebo';
                            width: 85%;
                        }
                        
                    }
    
                }
        
                .right{
                    display: none;
    
                }
    
            }
    
            
    
        }
    }
    /* commnet */
    #comment {
        width: 100%;
        padding: 130px 30px;
    
        .inner {
            width: 100%;
            margin: 0 auto;

            .wrap{
    
                .left{
    
                    article{
                        width: 100%;
                    }
    
                }
                .right{
                    .wrap{
                        .txt{
                            article{
                                width: 100%;
                                
                            }
                        }
                    }
    
                }
            }
        }
    }


    #footer{
        .inner{
            width: 100%;
    
            .wrap{
                width: 100%;
    
                .top{
    
                    .first{
                        width: 49%;
                        border-right: none;
                        margin-bottom: 30px;
                        margin-right: 2%;
                        padding: 0px 20px;
    
                    }
    
                    .middle{
                        display: none;
                        border-right: none;
                    }
    
                    .last{
    
                        width: 49%;
                        padding: 0px 20px;
    
                        ul{
                            
                            li{
                                width: 25%;
                        }
                    }
                }
                
            }
            
        }
    }
    
    }
}

/*mobile*/

@media screen and (max-width:593px) {

    #header{
        .inner{

            .btnCall{
                color: #fff;
            }
    
            .menuMo{
                position:fixed; 
                top:0; 
                left:-100%; 
                width:100%; 
                height:100vh; 
                background:#474141; 
                transition:0.5s; 
                padding:35px 30px; 
                box-sizing:border-box; 
                z-index:10; 
                
    
                h1{
                    border-bottom:none; 
                    
                    a{
                        display:block; 
                        font:bold 24px/1 'arial'; 
                        color:#fff; 
                        text-align:left; 
                        padding-bottom:20px; 
                        
                    }
                    span{
                        display: none;
                    }
                }
    
                #gnbMo{

                    &::before{
                        content: 'Menu';
                        display: block;
                        font: bold 15px/1 'Open Sans';
                        color: #777;
                        padding: 10px 0px 20px 50px;
                    }
                    li{
                        width: 70%;

                        a{
                            display:block; 
                            padding:20px 50px; 
                            border-bottom:none; 
                            font:bold 30px/1 'arial'; 
                            color:#fff; 
                            text-align:left; 
                            width:100%;

                            &:hover{
                                border-bottom: 3px solid royalblue;

                                
                            }

                        }
                    }
                }
    
                &.on{
                    left:0; 
                }
            }
        }
    }

    #visual{    
        padding:10px 30px; 
        .inner{
            .wrap{
                width: 100%;
                
                .left{
                    width: 20%;
                    height: 100%;
                    margin-right: 0%;
                    padding-bottom: 0px;
                    border-bottom: none;
                    h1{
                        font: 30px/1 'Overpass', sans-serif;
                        margin-bottom: 40px;
                    }
            
                    .pic{
                        display: none;
                    }
                }
                .right{
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                }
            }
            .bottom{
                .second{
                    display: none;
                }
            }
        }
    }

    /* brand */

    #brand {
        padding: 120px 30px;

        .inner { 
            h1 {
                font: bold 21px/1 'Overpass';
            } 
            
            .wrap {
                flex-wrap: wrap;
                .pic{
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
                .txt{
                    width: 100%;
                    text-align: center;
                    >h2{
                        font: bold 19px/1.2 'Overpass';
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }
                    >p{
                        font: 15px/1.5 'Overpass';
                        margin-bottom: 30px;
                    }
                    >a{
                        font: bold 15px/30px 'Overpass';
                        text-align: center;
                        display: inline-block;
                        transform: scale(1);
                        transition: 0.3s ease-in-out;

                        &::before{
                            display: none;
                        }
                        
                        &::after{
                            display: none;
                        }

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    #footer{
        .inner{
            .wrap{
                .top{
                    .first{
                        width: 100%;
                        margin-bottom: 50px;
                        margin-right: 0%;
                        padding: 0px;
                    }
    
                    .last{
                        width: 100%;
                        padding: 0px;
    
                        ul{
                            li{
                                width: 15%;
                        }
                    }
                }
                
            }
            
        }
    }
    
    }
}