@charset 'utf-8';

@import 'reset';
@import 'sub_layout';


#header{
    width: 100%;

    .inner{
        width: 1180px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        

        h1{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            a{
                font:  24px/1  'Open Sans', sans-serif;
                color: #1F2120;
            }
        }

        .menuWeb{
            
            #gnb{
                position: absolute;
                top: 50%;
                right: 26%;
                transform: translateY(-50%);
            

                li{
                    display: inline-block;
                    margin-left: 35px;
                    display: inline-block;
                    

                    a{
                        font: bold 14px/1 'Overpass', sans-serif;
                        color: #1F2120;
                        
                    }

                }
            }
            .form-text{
                position: absolute;
                top: 50%;
                right: 12%;
                transform: translateY(-50%);
                background-color: #fff;
                
                p{
                    border-bottom: 1px solid #111;
                    width: 130px;
                    display: inline-block;

                    >#searchText {
                    width: 80%;
                    height: 100%;
                    padding: 5px 20px;
                    border: none;
                    font: 15px/1 'arial';
                    columns: #222;
                    vertical-align: middle;
                    background: transparent;
                    margin-right: 5px;
                    
                    }
                
                    >.searchBtn {
                    width: 5%;
                    height: 20px;
                    font: bold 15px/20px 'arial';
                    border: none;
                    background-color: #fff;
                    cursor: pointer;
                    }

                }
            }

            .util{
                position: absolute;
                top: 50%;
                right: -3%;
                transform: translateY(-50%);
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                li{
                    float: left;
                    margin-right: 35px;
                    &:hover{

                        &:nth-of-type(1) a{
                            color: red;
                        }
                        &:nth-of-type(2) a{
                            font-size: 17px

                        }
                        &:nth-of-type(3) a{
                            color: lightskyblue;
                        }
                    }

                    a{
                        color: #1F2120;
                        font-size: 16px;
                        
                    }

                    
                }
            }

        }
    }
}

/* visual */

#visual {
    width: 100%;
    height: calc( 100vh - 151px);
    position: relative;

    .inner {
        width: 1180px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    
        .wrap{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .left{
            width: 29%;
            height: 65vh;
            padding-top: 40px;
            border-bottom: 1px solid #bbb;
            margin-right: 2%;
            h1{
                font: 50px/1 'Overpass', sans-serif;
                color: #111;
                margin-bottom: 30px;
            }
            a{
                color: #333;
                display: inline-block;
                font-size: 22px;
                margin: 0px 10px 100px 10px;
                transition: 0.5s ease-in-out;

                &:hover{
                transform: scale(1.2);
                }
                
            }
            >p{
                display: inline-block;
                font: 16px/1 'arial';
                color: #333;
                
            }

            >.pic{
                width: 100%;
                height: 200px;
                img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

            }
            
            }
            .right{
            width: 69%;
            height: 65vh;
            padding-top: 40px;
            border-bottom: 1px solid #bbb;
            position: relative;

            h2{
                font: bold 18px/1 'arial';
                color: #333;
                margin-bottom: 10px;
            }

            .txtbox{
                width: 75%;
                margin-bottom: 100px;
                display: flex;
                article{
                margin-right: 20px;
                p{
                    font: 15px/1.4 'arial';
                    color: #999;
                    
                }

                }
            }
            .num{
                text-align: right;
                font: 50px/1 'arial';
            }

            .pic{
                width: 100%;
                height: 200px;
                margin-top: 20px;
                position: relative;
                img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                }

                .prev{
                    position: absolute;
                    top: 50%;
                    left: 40px;
                    transform: translateX(-50%);
                }
                .next{
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateX(-50%);
                }

            }
            }

        }

        .bottom{
            width: 100%;
            height: 10vh;
            display: flex;
            padding: 30px 20px;

            .first{
                width: 80%;
                article{
                    width: 100px;
                    height: 50px;
                    display: inline-block;

                    >p{
                    font: bold 15px/1 'arial';
                    margin-bottom: 5px;
                    }
                    >span{
                    font: 16px/1 'arial';
                    color: #999;
                    }
                }
            }

            .second{
            width: 20%;
            transition: 0.5s;
                p{
                    display: inline-block;
                    margin-right: 20px;
                    font: 15px/1 'arial';
                    color: #999;
                }
            .line{
                display: inline-block;
                width: 80px;
                height: 2px;
                background-color: #bbb;
                vertical-align: middle;
                margin-right: 20px;
                
            }
            a{
                color: #bbb;
                display: inline-block;
            }

            &:hover{
                
                transform: translate(10px,0);
                
            }

            }
        }

    }
}


 /* brand */

#brand {
    width: 100%;
    padding: 150px 0px;
    background-color: #f5f2ee;
    
    // background-color: #f8faec;

    .inner {
        width: 1180px;
        margin: 0 auto;

        h1 {
        font: bold 24px/1 'Overpass', sans-serif;
        color: #444;
        margin-bottom: 40px;
        

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #444;
            margin-top: 10px;
        }
        } 

        .wrap {
            width: 100%;
            display: flex;

            .pic{
                width: 49%;
                height: 320px;
                margin-right: 5%;
                padding: 0px 20px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .txt{
            width: 49%;
            position: relative;

                >h2{
                    font: bold 21px/1 'Overpass', sans-serif;
                    color: #444;
                    margin-bottom: 40px;
                }
                >p{
                    font: 17px/1.2 'Overpass', sans-serif;
                    color: #555;
                    margin-bottom: 30px;
                }
                >a{
                    display: block;
                    width: 180px;
                    height: 30px;
                    font: bold 16px/30px 'Overpass', sans-serif;
                    color: #333;
                    position: relative;
                    transition: all 0.5s ease;

                    &::before{
                    content: '';
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    position: absolute;
                    right: -105px;
                    top: -10px;
                    transition: all 0.5s ease;
                    }

                    
                    &::after{
                    content: '';
                    display: inline-block;
                    width: 60px;
                    height: 7px;
                    background: url(../img/btn_arrow.png) no-repeat center/cover;
                    background-size: cover;
                    position: absolute;
                    right: -70px;
                    top:10px;
                    transition: all 0.5s ease;
                    }

                    &:hover{

                    &::before{
                        transform:scale(1.1);
                    }
                    &::after{
                        transform:translate(10px,0);
                    }
                    }
                }
            

            }

        }
    }
}

#introduce{
    width: 100%;
    padding: 150px 0;

    .inner{
      width: 1180px;
      margin: 0 auto;

      .wrap{
        display: flex;

        article{
          width: 380px;
          margin-right: 20px;
          display: flex;

          &:last-child{
            margin-right: 0px;
          }
          .icon{
            font-size: 40px;
            color: #c4c4c4;
            margin-right: 15px;
          }

          .txt{
            h2{
              font: bold 13px/1 'Open Sans', sans-serif;
              color: #212121;
              margin-bottom: 20px;
              letter-spacing: 2px;

              &::after{
                content: '';
                width: 35px;
                height: 3px;
                display: block;
                background: orange;
                margin-top: 20px;
              }
            }

            p{
              font: 14px/1.7 'Open Sans', sans-serif;
              color: #828282;
              margin-right: 30px;
              
            }
          }
        }
      }
    }
  }
/* box1*/
#box1{
    width: 100%;
    padding: 200px 0;

    .inner{
        width: 1180px;
        margin: 0 auto;

        .wrap{
        width: 100%;
        height: 500px;
        display: flex;

        .txt{
            width: 40%;
            padding: 150px 0px;
            margin-right: 20px;
            h1{
            font: 34px/1 'Overpass', sans-serif;
            color: #050505;
            margin-bottom: 30px;

            &::before{
                content: '';
                width: 100px;
                height: 2px;
                display: block;
                background: #5a5a5a;
                margin-bottom: 20px;
            }
            }
          p{
            font: 18px/1.4 'Overpass', sans-serif;
            color: #949292;
            margin-bottom: 40px;
          }

          a{
            display: block;
            width: 150px;
            height: 40px;
            font: 16px/40px 'Overpass', sans-serif;
            color: #333;
            
            background-color: #e7ded3;
            text-align: center;
          }
        }

        .pic{
            width: 60%;
            img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            }
        }
    }
    }
}

/* read */

#read {
    width: 100%;
    padding: 150px 0;

    .inner {
      width: 1180px;
      margin: 0 auto;

      h1{
        font: bold 24px/1 'Overpass', sans-serif;
        color: #050505;
        margin-bottom: 80px;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: #444;
          margin-top: 10px;
        }
      }

      a{
        display: block;
        width: 140px;
        height: 40px;
        font: 15px/40px 'Overpass', sans-serif;
        color: #fff;
        background-color: black;
        border: 2px solid black;
        text-align: center;
        margin: 0 auto;
        transition: 0.5s;

        &:hover{
          color: black;
          background-color: #fff;
          border: 3px solid black;
        }
      }
     

      .wrap {
        width: 100%;
        margin-bottom: 40px;
        article {
          float: left;
          position: relative;
          object-fit: cover;
          margin-bottom: 60px;
          width: 380px;
          margin-right: 20px;
          
  
          &:nth-of-type(3) {
            margin-right: 0;
          }

          .pic{
            // width: 100%;
            // height: 300px;
            // margin-bottom: 30px;
            overflow: hidden;
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              margin-bottom: 50px;
              transition: 0.5s;
              

              &:hover{
                transform: scale(1.05);

              }
            }
          }
          h2{
            font: 600 15px/1 'Open Sans';
            color: #000000;
            margin-bottom: 20px;
            letter-spacing: 2px;
          }

          h3{
            font: 14px/1 'Open Sans', sans-serif;
            color: #828282;
            margin-bottom: 30px;
          }

          >p{
            font: 16px/1.2 'Overpass', sans-serif;
            color: #626262;
            margin-right: 20px;
            
            &::after{
              content: '';
              width: 35px;
              height: 2px;
              background-color: #111;
              display: block;
              margin-top: 30px;
            }
          }

        }
        
        
      }
    }
}
/* commnet */
#comment {
    width: 100%;
    padding: 150px 0;

    .inner {
        width: 1180px;
        margin: 0 auto;

        
        .wrap{
            display: flex;

            .left{
            width: 58%;
            position: relative;
            margin-right:3%;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
                
                h1 {
                font: bold 20px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 30px;
                &::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #444;
                    color: #444;
                    display: block;
                    margin-top: 10px;
                }
                }
                >a{
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 16px;
                    color: #444;
                }

                article{
                    width: 33.3%;
                    height: 100px;
                    margin-bottom: 20px;
                    float: left;
                    transition: 0.5s;
                    &:hover{
                        a{
                            color: #f7c738;
                        }
                    }

                h2{
                    font: bold 18px/1 'Overpass', sans-serif;
                    color: #555;
                    margin-bottom: 10px;
                }

                p{
                    font: 16px/1.4 'Overpass', sans-serif;
                    color: #555;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    width: 100px;
                    height: 30px;
                    font: 14px/30px 'Overpass', sans-serif;
                    color: #a1a1a1;
                }
                }

            }
            .right{
            width: 39%;

            h1{
                font: bold 20px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 20px;
                
                &::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #444;
                    color: #444;
                    display: block;
                    margin-top: 10px;
                }
            }

                article{
                    margin-bottom: 30px;
                    margin-right: 55px;
                    transition: 0.5s;

                &:hover{
                    transform: scale(0.9);
                }

                >h2{
                font: 15px/1 'Overpass', sans-serif;
                color: #444;
                margin-bottom: 5px;
                }
                >p{
                    font: bold 16px/1.3 'Overpass', sans-serif;
                    color: #666;
                    margin-bottom: 10px;
                }

            }
            }
        }
    }
}

#footer{
    width: 100%;
    padding: 60px 0px 30px 0px;
    border-top: 1px solid #e1e1e1;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;

        h1{
            font: 20px/1 'Overpass', sans-serif;
            color: #222222;
            margin-bottom: 20px;

        }

        .wrap{
            width: 100%;

            .top{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #e1e1e1;
                margin-bottom: 20px;
                padding: 40px 15px;

                h2{
                    font: bold 14px/1 'Overpass', sans-serif;
                    color: #999999;
                    margin-bottom: 20px;
                }

                p{
                    font: 12px/1.5 'Overpass', sans-serif;
                    color: #999999;
                    letter-spacing: 1px;
                }

                .first{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;

                    address{
                        font: 12px/1.5 'Noto Sans KR';
                        color: #999999;
                        margin-right: 10px;
    
                    }
                }

                .middle{
                    width: 33.333%;
                    border-right: 1px solid #e1e1e1;
                }

                .last{

                    width: 33.333%;

                    ul{
                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        li{
                            display: inline-block;
                            font: 12px/1 'Overpass';
                            color: #999999;
                            margin-right: 30px;
                            
                            

                            a{
                                display: block;
                                font-size: 20px;
                                color: #999999;
                                padding: 10px 0;
                                
                                
                            }
                        }
                    }
                }
            }
            

            .bottom{
                text-align: center;
                font: 13px/1 'Overpass';
                color: #646464;

            }
        }
        
    }
}